.add-to-cart-buttons {
    display: flex;
    gap: 1.6rem;
    align-items: center;

    &__quantity {
        padding: 1.2rem;
        background-color: var(--light-grayish-blue);
        border-radius: 5px;
        display: flex;
        align-items: center;
        gap: 4rem;

        &__icon {
            &:hover {
                cursor: pointer;
            }
        }

        &__counter-container {
            width: 1.2rem;
            text-align: center;
            user-select: none;

            &__counter {
                font-size: 1.6rem;
                font-weight: 700;
                color: var(--very-dark-blue);
            }
        }
    }

    &__add-to-cart {
        padding: 1.2rem;
        background-color: var(--orange);
        border: unset;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.6rem;
        flex-grow: 1;
        user-select: none;
        transition: all 300ms ease-in-out;

        &:hover:not([disabled]) {
            cursor: pointer;
        }

        &:active:not([diabled]) {
            background-color: var(--pale-orange);
        }

        &:disabled {
            background-color: var(--pale-orange);

            span {
                color: var(--grayish-blue);
            }

            path {
                fill: var(--grayish-blue);
            }
        }

        span {
            font-size: 1.6rem;
            font-weight: 700;
            color: var(--very-dark-blue);
        }
    }
}
