.product-content {
    height: 100%;
    padding: 8rem 4rem 0rem 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 8rem;
    grid-row-gap: 0rem;
}

@media screen and (max-width: 37.5rem) {
    .product-content {
        height: unset;
        padding: unset;
        display: flex;
        flex-direction: column;
    }
}
