.header {
    height: 12rem;
    border-bottom: 1px solid var(--grayish-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo-and-navbar-container {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 6rem;
    }
}

@media screen and (max-width: 37.5rem) {
    .header {
        height: unset;
        padding: 1.6rem 2rem 2rem 2rem;
        border-bottom: unset;

        &__logo-and-navbar-container {
            gap: 2rem;
        }
    }
}
