.navbar {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 4rem;
    position: relative;

    &__item {
        height: 100%;
        display: flex;
        align-items: center;

        span {
            color: var(--dark-grayish-blue);
            transition: all 300ms;
            font-size: 1.6rem;

            &:hover {
                cursor: pointer;
                color: var(--black);
            }
        }
    }

    &__slider {
        height: 0.5rem;
        background-color: var(--orange);
        position: absolute;
        bottom: 0;
        transition: all 300ms ease-in-out;
    }
}
